@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: Geist, sans-serif;
	--font-serif: Libre Baskerville, serif;
  --font-mono: Source Code Pro, monospace;
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--font-serif: Libre Baskerville, serif;
	--radius: 1.25rem;
	--tracking-tighter: calc(var(--tracking-normal) - 0.05em);
	--tracking-tight: calc(var(--tracking-normal) - 0.025em);
	--tracking-wide: calc(var(--tracking-normal) + 0.025em);
	--tracking-wider: calc(var(--tracking-normal) + 0.05em);
	--tracking-widest: calc(var(--tracking-normal) + 0.1em);
	--tracking-normal: var(--tracking-normal);
	--shadow-2xl: var(--shadow-2xl);
	--shadow-xl: var(--shadow-xl);
	--shadow-lg: var(--shadow-lg);
	--shadow-md: var(--shadow-md);
	--shadow: var(--shadow);
	--shadow-sm: var(--shadow-sm);
	--shadow-xs: var(--shadow-xs);
	--shadow-2xs: var(--shadow-2xs);
	--spacing: var(--spacing);
	--letter-spacing: var(--letter-spacing);
	--shadow-offset-y: var(--shadow-offset-y);
	--shadow-offset-x: var(--shadow-offset-x);
	--shadow-spread: var(--shadow-spread);
	--shadow-blur: var(--shadow-blur);
	--shadow-opacity: var(--shadow-opacity);
	--color-shadow-color: var(--shadow-color);
	--color-destructive-foreground: var(--destructive-foreground);

	/* CUSTOM */
	--color-working-entry: var(--working-entry);
	--color-working-entry-foreground: var(--working-entry-foreground);
	--color-holiday-entry: var(--holiday-entry);
	--color-holiday-entry-foreground: var(--holiday-entry-foreground);
	--color-permit-entry: var(--permit-entry);
	--color-permit-entry-foreground: var(--permit-entry-foreground);
	--color-sick-entry: var(--sick-entry);
	--color-sick-entry-foreground: var(--sick-entry-foreground);
}

:root {
	--radius: 1.25rem;
	--background: oklch(0.9455 0.0089 179.5955);
	--foreground: oklch(0.1406 0.0030 69.3860);
	--card: oklch(0.9728 0.0044 179.7353);
	--card-foreground: oklch(0.1406 0.0030 69.3860);
	--popover: oklch(0.9455 0.0089 179.5955);
	--popover-foreground: oklch(0.1406 0.0030 69.3860);
	--primary: oklch(0.8229 0.1443 82.3092);
	--primary-foreground: oklch(0.1406 0.0030 69.3860);
	--secondary: oklch(0.5248 0.0137 183.7045);
	--secondary-foreground: oklch(0.9461 0 0);
	--muted: oklch(0.9085 0.0142 185.9285);
	--muted-foreground: oklch(0.4264 0.0067 182.7538);
	--accent: oklch(0.8423 0.0253 184.1426);
	--accent-foreground: oklch(0.1406 0.0030 69.3860);
	--destructive: oklch(0.6561 0.2223 34.0280);
	--border: oklch(0.9085 0.0142 185.9285);
	--input: oklch(0.8423 0.0253 184.1426);
	--ring: oklch(0.7868 0.1370 82.0442);
	--chart-1: oklch(0.8088 0.1704 75.3501);
	--chart-2: oklch(0.7554 0.1777 59.6859);
	--chart-3: oklch(0.7103 0.1960 47.1612);
	--chart-4: oklch(0.6727 0.2198 38.0931);
	--chart-5: oklch(0.6463 0.2409 32.6151);
	--sidebar: oklch(0.9085 0.0142 185.9285);
	--sidebar-foreground: oklch(0.1406 0.0030 69.3860);
	--sidebar-primary: oklch(0.8229 0.1443 82.3092);
	--sidebar-primary-foreground: oklch(0.1406 0.0030 69.3860);
	--sidebar-accent: oklch(0.8423 0.0253 184.1426);
	--sidebar-accent-foreground: oklch(0.1406 0.0030 69.3860);
	--sidebar-border: oklch(78.335% 0.01186 176.64);
	--sidebar-ring: oklch(0.7868 0.1370 82.0442);
	--destructive-foreground: oklch(0.1406 0.0030 69.3860);
	--font-sans: Geist, sans-serif;
	--font-serif: Libre Baskerville, serif;
	--font-mono: Source Code Pro, monospace;
	--shadow-color: hsl(240 4% 60%);
	--shadow-opacity: 0.18;
	--shadow-blur: 10px;
	--shadow-spread: 4px;
	--shadow-offset-x: 2px;
	--shadow-offset-y: 2px;
	--letter-spacing: 0em;
	--spacing: 0.25rem;
	--shadow-2xs: 2px 2px 10px 4px hsl(240 4% 60% / 0.09);
	--shadow-xs: 2px 2px 10px 4px hsl(240 4% 60% / 0.09);
	--shadow-sm: 2px 2px 10px 4px hsl(240 4% 60% / 0.18), 2px 1px 2px 3px hsl(240 4% 60% / 0.18);
	--shadow: 2px 2px 10px 4px hsl(240 4% 60% / 0.18), 2px 1px 2px 3px hsl(240 4% 60% / 0.18);
	--shadow-md: 2px 2px 10px 4px hsl(240 4% 60% / 0.18), 2px 2px 4px 3px hsl(240 4% 60% / 0.18);
	--shadow-lg: 2px 2px 10px 4px hsl(240 4% 60% / 0.18), 2px 4px 6px 3px hsl(240 4% 60% / 0.18);
	--shadow-xl: 2px 2px 10px 4px hsl(240 4% 60% / 0.18), 2px 8px 10px 3px hsl(240 4% 60% / 0.18);
	--shadow-2xl: 2px 2px 10px 4px hsl(240 4% 60% / 0.45);
	--tracking-normal: 0em;

	/* CUSTOM */
	--working-entry: oklch(77.755% 0.15945 166.59);
  --working-entry-foreground: oklch(0.1406 0.0030 69.3860);
	--holiday-entry: oklch(39.22% 0.02394 298.315);
  --holiday-entry-foreground: oklch(0.9461 0 0);
	--permit-entry: oklch(88.03% 0.1347 86.064);
  --permit-entry-foreground: oklch(0.1406 0.0030 69.3860);
	--sick-entry: #ef476f;
  --sick-entry-foreground: oklch(0.1406 0.0030 69.3860);
}

.dark {
	--background: oklch(0.2325 0.0036 164.7373);
	--foreground: oklch(0.9461 0 0);
	--card: oklch(0.2758 0.0015 197.0721);
	--card-foreground: oklch(0.9461 0 0);
	--popover: oklch(0.2325 0.0036 164.7373);
	--popover-foreground: oklch(0.9461 0 0);
	--primary: oklch(0.8229 0.1443 82.3092);
	--primary-foreground: oklch(0.1406 0.0030 69.3860);
	--secondary: oklch(0.7398 0.0063 170.3774);
	--secondary-foreground: oklch(0.1406 0.0030 69.3860);
	--muted: oklch(0.2485 0.0048 174.0141);
	--muted-foreground: oklch(0.6097 0.0096 187.9468);
	--accent: oklch(0.3983 0.0097 176.8389);
	--accent-foreground: oklch(0.9461 0 0);
	--destructive: oklch(0.6561 0.2223 34.0280);
	--border: oklch(0.2932 0.0057 196.8484);
	--input: oklch(0.2932 0.0057 196.8484);
	--ring: oklch(0.7254 0.1087 83.4242);
	--chart-1: oklch(0.7550 0.1242 83.5740);
	--chart-2: oklch(0.6587 0.1176 70.4292);
	--chart-3: oklch(0.5643 0.1185 56.6700);
	--chart-4: oklch(0.4705 0.1274 43.1539);
	--chart-5: oklch(0.3856 0.1383 34.1149);
	--sidebar: oklch(0.2932 0.0057 196.8484);
	--sidebar-foreground: oklch(0.9461 0 0);
	--sidebar-primary: oklch(0.8229 0.1443 82.3092);
	--sidebar-primary-foreground: oklch(0.1406 0.0030 69.3860);
	--sidebar-accent: oklch(0.3983 0.0097 176.8389);
	--sidebar-accent-foreground: oklch(0.9461 0 0);
	--sidebar-border: oklch(36.644% 0.0069 183.009);
	--sidebar-ring: oklch(0.7254 0.1087 83.4242);
	--destructive-foreground: oklch(0.1406 0.0030 69.3860);
	--radius: 1.25rem;
	--font-sans: Geist, sans-serif;
	--font-serif: Libre Baskerville, serif;
	--font-mono: Source Code Pro, monospace;
	--shadow-color: hsl(0 0% 0%);
	--shadow-opacity: 0.18;
	--shadow-blur: 10px;
	--shadow-spread: 4px;
	--shadow-offset-x: 2px;
	--shadow-offset-y: 2px;
	--letter-spacing: 0em;
	--spacing: 0.25rem;
	--shadow-2xs: 2px 2px 10px 4px hsl(0 0% 0% / 0.09);
	--shadow-xs: 2px 2px 10px 4px hsl(0 0% 0% / 0.09);
	--shadow-sm: 2px 2px 10px 4px hsl(0 0% 0% / 0.18), 2px 1px 2px 3px hsl(0 0% 0% / 0.18);
	--shadow: 2px 2px 10px 4px hsl(0 0% 0% / 0.18), 2px 1px 2px 3px hsl(0 0% 0% / 0.18);
	--shadow-md: 2px 2px 10px 4px hsl(0 0% 0% / 0.18), 2px 2px 4px 3px hsl(0 0% 0% / 0.18);
	--shadow-lg: 2px 2px 10px 4px hsl(0 0% 0% / 0.18), 2px 4px 6px 3px hsl(0 0% 0% / 0.18);
	--shadow-xl: 2px 2px 10px 4px hsl(0 0% 0% / 0.18), 2px 8px 10px 3px hsl(0 0% 0% / 0.18);
	--shadow-2xl: 2px 2px 10px 4px hsl(0 0% 0% / 0.45);

		/* CUSTOM */
	--working-entry: oklch(87.304% 0.16916 168.605);
  --working-entry-foreground: oklch(0.1406 0.0030 69.3860);
	--holiday-entry: oklch(75.845% 0.02032 298.843);
  --holiday-entry-foreground: oklch(0.1406 0.0030 69.3860);
	--permit-entry: oklch(56.099% 0.11653 78.935);
  --permit-entry-foreground: oklch(0.1406 0.0030 69.3860);
	--sick-entry: oklch(49.929% 0.19273 17.775);
  --sick-entry-foreground: oklch(0.9461 0 0);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
	}
}